<html>
   <head>
      <meta charset="utf-8"/>
      <title>new moove - $title</title>
      <style>${style}</style>
   </head>

   <body>
      <div class="container">
         <a class="back" href="../index.html">Zurück</a>
         <h1>new moove</h1>
         <h2>$title</h2>

         <div class="course_view">
            <table>
               <tr>
                  <td>Dauer: </td>
                  <td>$duration</td>
               </tr>
               <tr>
                  <td>Kalorien: </td>
                  <td>$calories</td>
               </tr>
               <tr>
                  <td>Level: </td>
                  <td>$level</td>
               </tr>
               <tr>
                  <td>Körperbereich: </td>
                  <td>$body_area</td>
               </tr>
               <tr>
                  <td>Material: </td>
                  <td>$material</td>
               </tr>
               <tr>
                  <td>Bonuspunkte: </td>
                  <td>$bonus_points</td>
               </tr>
            </table>
               
            <p>$description</p>
         </div>

         $videos
      </div>
   </body>
</html>
